:root {
    --instr-color-open: white;
    --instr-color-closed: black;
}

@import "./node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: sans-serif;
    margin-top: 1.5rem;
}

#tabs {
    padding: 1.5rem;
}

.grip-table div {
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    align-items: center;

    span {
        width: 10rem;
        min-width: 10rem;
    }
}

gt-flute {
    svg {
        height: 100px;
    }

    /*
    Ignore C and C# flutes for now
    */

    &.D {
        .L1A { fill: var(--instr-color-closed); }
        .L1B { fill: var(--instr-color-closed); }
        .L2 { fill: var(--instr-color-closed); }
        .L3 { fill: var(--instr-color-closed); }
        .L4 { fill: var(--instr-color-closed); }
        .L5 { fill: var(--instr-color-open); }
        .R2 { fill: var(--instr-color-closed); }
        .R3 { fill: var(--instr-color-closed); }
        .R4 { fill: var(--instr-color-closed); }
        .R5 { fill: var(--instr-color-open); }
    }

    &.Ds,&.Eb {
        .L1A { fill: var(--instr-color-closed); }
        .L1B { fill: var(--instr-color-closed); }
        .L2 { fill: var(--instr-color-closed); }
        .L3 { fill: var(--instr-color-closed); }
        .L4 { fill: var(--instr-color-closed); }
        .L5 { fill: var(--instr-color-open); }
        .R2 { fill: var(--instr-color-closed); }
        .R3 { fill: var(--instr-color-closed); }
        .R4 { fill: var(--instr-color-closed); }
        .R5 { fill: var(--instr-color-closed); }
    }
    
    &.E {
        .L1A { fill: var(--instr-color-closed); }
        .L1B { fill: var(--instr-color-closed); }
        .L2 { fill: var(--instr-color-closed); }
        .L3 { fill: var(--instr-color-closed); }
        .L4 { fill: var(--instr-color-closed); }
        .L5 { fill: var(--instr-color-open); }
        .R2 { fill: var(--instr-color-closed); }
        .R3 { fill: var(--instr-color-closed); }
        .R4 { fill: var(--instr-color-open); }
        .R5 { fill: var(--instr-color-closed); }
    }
        
    &.F {
        .L1A { fill: var(--instr-color-closed); }
        .L1B { fill: var(--instr-color-closed); }
        .L2 { fill: var(--instr-color-closed); }
        .L3 { fill: var(--instr-color-closed); }
        .L4 { fill: var(--instr-color-closed); }
        .L5 { fill: var(--instr-color-open); }
        .R2 { fill: var(--instr-color-closed); }
        .R3 { fill: var(--instr-color-open); }
        .R4 { fill: var(--instr-color-open); }
        .R5 { fill: var(--instr-color-closed); }
    }
        
    &.Fs, &.Gb {
        .L1A { fill: var(--instr-color-closed); }
        .L1B { fill: var(--instr-color-closed); }
        .L2 { fill: var(--instr-color-closed); }
        .L3 { fill: var(--instr-color-closed); }
        .L4 { fill: var(--instr-color-closed); }
        .L5 { fill: var(--instr-color-open); }
        .R2 { fill: var(--instr-color-open); }
        .R3 { fill: var(--instr-color-open); }
        .R4 { fill: var(--instr-color-closed); }
        .R5 { fill: var(--instr-color-closed); }
    }
            
    &.G {
        .L1A { fill: var(--instr-color-closed); }
        .L1B { fill: var(--instr-color-closed); }
        .L2 { fill: var(--instr-color-closed); }
        .L3 { fill: var(--instr-color-closed); }
        .L4 { fill: var(--instr-color-closed); }
        .L5 { fill: var(--instr-color-open); }
        .R2 { fill: var(--instr-color-open); }
        .R3 { fill: var(--instr-color-open); }
        .R4 { fill: var(--instr-color-open); }
        .R5 { fill: var(--instr-color-closed); }
    }

    &.Gs, &.Ab {
        .L1A { fill: var(--instr-color-closed); }
        .L1B { fill: var(--instr-color-closed); }
        .L2 { fill: var(--instr-color-closed); }
        .L3 { fill: var(--instr-color-closed); }
        .L4 { fill: var(--instr-color-closed); }
        .L5 { fill: var(--instr-color-closed); }
        .R2 { fill: var(--instr-color-open); }
        .R3 { fill: var(--instr-color-open); }
        .R4 { fill: var(--instr-color-open); }
        .R5 { fill: var(--instr-color-closed); }
    }

    &.A {
        .L1A { fill: var(--instr-color-closed); }
        .L1B { fill: var(--instr-color-closed); }
        .L2 { fill: var(--instr-color-closed); }
        .L3 { fill: var(--instr-color-closed); }
        .L4 { fill: var(--instr-color-open); }
        .L5 { fill: var(--instr-color-open); }
        .R2 { fill: var(--instr-color-open); }
        .R3 { fill: var(--instr-color-open); }
        .R4 { fill: var(--instr-color-open); }
        .R5 { fill: var(--instr-color-closed); }
    }

    &.As, &.Bb {
        .L1A { fill: var(--instr-color-closed); }
        .L1B { fill: var(--instr-color-open); }
        .L2 { fill: var(--instr-color-closed); }
        .L3 { fill: var(--instr-color-open); }
        .L4 { fill: var(--instr-color-open); }
        .L5 { fill: var(--instr-color-open); }
        .R2 { fill: var(--instr-color-open); }
        .R3 { fill: var(--instr-color-open); }
        .R4 { fill: var(--instr-color-open); }
        .R5 { fill: var(--instr-color-closed); }
    }

    &.B {
        .L1A { fill: var(--instr-color-closed); }
        .L1B { fill: var(--instr-color-closed); }
        .L2 { fill: var(--instr-color-closed); }
        .L3 { fill: var(--instr-color-open); }
        .L4 { fill: var(--instr-color-open); }
        .L5 { fill: var(--instr-color-open); }
        .R2 { fill: var(--instr-color-open); }
        .R3 { fill: var(--instr-color-open); }
        .R4 { fill: var(--instr-color-open); }
        .R5 { fill: var(--instr-color-closed); }
    }

    &.C2 {
        .L1A { fill: var(--instr-color-open); }
        .L1B { fill: var(--instr-color-open); }
        .L2 { fill: var(--instr-color-closed); }
        .L3 { fill: var(--instr-color-open); }
        .L4 { fill: var(--instr-color-open); }
        .L5 { fill: var(--instr-color-open); }
        .R2 { fill: var(--instr-color-open); }
        .R3 { fill: var(--instr-color-open); }
        .R4 { fill: var(--instr-color-open); }
        .R5 { fill: var(--instr-color-closed); }
    }

    &.Cs2, &.Db2 {
        .L1A { fill: var(--instr-color-open); }
        .L1B { fill: var(--instr-color-open); }
        .L2 { fill: var(--instr-color-open); }
        .L3 { fill: var(--instr-color-open); }
        .L4 { fill: var(--instr-color-open); }
        .L5 { fill: var(--instr-color-open); }
        .R2 { fill: var(--instr-color-open); }
        .R3 { fill: var(--instr-color-open); }
        .R4 { fill: var(--instr-color-open); }
        .R5 { fill: var(--instr-color-closed); }
    }
    
    &.D2 {
        .L1A { fill: var(--instr-color-closed); }
        .L1B { fill: var(--instr-color-closed); }
        .L2 { fill: var(--instr-color-open); }
        .L3 { fill: var(--instr-color-closed); }
        .L4 { fill: var(--instr-color-closed); }
        .L5 { fill: var(--instr-color-open); }
        .R2 { fill: var(--instr-color-closed); }
        .R3 { fill: var(--instr-color-closed); }
        .R4 { fill: var(--instr-color-closed); }
        .R5 { fill: var(--instr-color-open); }
    }
}

#answer {
    &.correct {
        color: green;
        &::before {
            content: '✔'
        }
    }

    &.wrong {
        color: red;
        &::before {
            content: '❌'
        }
    }
}

.logo-flute {
    transform: translateY(-50px) scale(85%) rotate(30deg);
}